<!doctype html>
<html ng-app="myApp">
<head >
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/goodsInfo.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/adminca.css">
    <script src="https://use.fontawesome.com/4688c0f624.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body ng-controller="HomeController">
<nav  class="navbar navbar-inverse">
    <div  class="container-fluid">
        <div class="navbar-header">
            <a  ng-click="barActive='home'" class="navbar-brand fontSettings" href="#home">Igoruch_Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':barActive==='home'}" ng-click="barActive='home'">
                    <a class="fontSettings" href="#home">Home</a>
                </li>
                <li ng-class="{'active':barActive==='categories'}" ng-click="barActive='categories'" >
                    <a class="fontSettings" href="#categories/0/6">Categories</a>
                </li>
                <li ng-class="{'active':barActive==='contacts'}" ng-click="barActive='contacts'">
                    <a class="fontSettings" href="#contacts">Contacts</a>
                </li>
                <li ng-if="currentUser!=null&&currentUser.role=='ROLE_ADMIN'">
                    <a class="fontSettings" href="#adminca">Admin menu</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active':barActive==='cart'}" ng-click="barActive='cart'">
                    <a class="fontSettings" href="#/cart">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    </a>
                </li>
                <li ng-class="{'active':barActive==='signUp'}" ng-click="barActive='signUp'">
                    <a class="fontSettings" href="#/registration"></span> Sign up
                    </a>
                </li>
                <li ng-if="!currentUser">
                    <a class="fontSettings" href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login </a>
                </li>
                <li ng-if="currentUser" ng-click="logout()">
                    <a class="fontSettings" ><span class="glyphicon glyphicon-log-out"></span> {{ currentUser.login}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script type="text/ng-template" id="pages/blog.html">
    <h1>Blog</h1>
    <h3>{{message}}</h3>
</script>
<script type="text/ng-template" id="pages/about.html">
    <h1>About</h1>
    <h3>{{message}}</h3>
</script>

<div ng-view></div>

<footer class="container-fluid text-center footPadding" style="color: #080808">
    <p> @Igoruch production 2017 </p>
</footer>
<script src="app.js"></script>

<!-- Angular modules, controllers, services, etc -->
<script src="js/controllers/HomeController.js"></script>
<script src="js/controllers/CategoriesController.js"></script>
<script src="js/controllers/GoodsController.js"></script>
<script src="js/controllers/GoodsInfoController.js"></script>
<script src="js/controllers/createNewGoodsController.js"></script>
<script src="js/controllers/createNewCategoryController.js"></script>
<script src="js/controllers/updateGoodsController.js"></script>
<script src="js/controllers/updateCategoryController.js"></script>
<script src="js/controllers/CartController.js"></script>
<script src="js/controllers/registrationController.js"></script>
<script src="js/controllers/AdmincaController.js"></script>
</body>
</html>