.licat:hover {background: rgba(153, 217, 182, 0.13);}

.menu li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: groove 1px;
}

.panel-body
{
    overflow-y: scroll;
    padding: 5px;
}

.sender{
    overflow-y: hidden;
    padding: 5px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.panelSize{
    height: 500px;
}

.adminMenuSign{
    float: right;
    margin-right: 10%;
    color: red;
}

.margRight{
    margin-right: 10%;
}

.signGreen{
    color: green;
}