.fontStyle{
    color: #fffabd;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.refreshSign{
    float: right;
    color: black;
    padding-left:10px;
}

.plusSign{
    float: right;
    color: #000000;
}
