body{
    background-image: url("../image/background.jpg");
}

ul.nav li.active a {
    color: orange !important;
}

.footPadding{
    padding-top: 20px;
}

.fontSettings{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #080808;
}

.refresh{
    float: right;
    color: black;
}


