<div class="container Adminca">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="panel panel-success">
            <div class="panel-heading" >
                <span class="fa fa-address-card-o fa-2x"></span> Info {{InfoText}} </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body panelSize">
                    <ul class="chat" >
                        <div class="btn-group btn-group-justified">
                            <a ng-click="GetAllOrdersInProcess() ;InfoText='Orders'" class="btn btn-success">Orders</a>
                            <a ng-click="GetAllUsers(3);InfoText='All Users'" class="btn btn-success">All users</a>
                        </div>
                    </ul>
                    <ul class="menu" >
                        <div ng-if="activeButton=='AllUsers'" >
                            <div class="row">
                                <form role="form">
                            <div class="col-lg-4 col-md-4 col-sm-4 ">
                                <input ng-model="loginUser" type="text" class="form-control" id="loginUser" placeholder="Find by login!">
                            </div>
                                </form>
                            <div class="col-sm-1 col-md-1 ">
                                <button type="submit" class="btn btn-block btn-primary hidden-md"
                                        ng-click="getUserByLogin(loginUser)">
                                    Find!</button>
                            </div>
                            </div>
                            <li ng-if="!userByLogin"  ng-repeat="user in allUsers " class="licat">
                                    <span ng-click="banedUser(user.id)" class="adminMenuSign">
                                        <i class="fa fa-ban fa-2x" aria-hidden="true"></i>
                                    </span>
                                <span ng-click="UnBanedUser(user.id)" class="chat-img pull-right margRight" >
                                    <i  class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                                </span>
                                <div >
                                    <p>
                                        <b> <h5 class="fontSettings"> Login:{{user.login}} |Email:{{user.email}}
                                        |Phone: {{user.phone}}|FirstName:{{user.firstName}}|LastName:{{user.lastName}}<br>
                                            |Address:{{user.address}} |IndexAdress: {{user.indexAdress}}|Enabled:{{user.enabled}}
                                        </h5></b>
                                    </p>
                                </div>
                            </li>


                            <li ng-if="userByLogin"  class="licat">
                                <span ng-click="banedUser(userByLogin.id)" class="adminMenuSign" >
                                        <i class="fa fa-ban fa-2x" aria-hidden="true"></i>
                                    </span>
                                <span ng-click="UnBanedUser(userByLogin.id)" class="chat-img pull-right margRight" >
                                    <i  class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                                </span>
                                <div >
                                    <p>
                                        <b> <h5 class="fontSettings"> Login:{{userByLogin.login}} |Email:{{userByLogin.email}}
                                            |Phone: {{userByLogin.phone}}|FirstName:{{userByLogin.firstName}}|LastName:{{userByLogin.lastName}}<br>
                                            |Address:{{userByLogin.address}} |IndexAdress: {{userByLogin.indexAdress}}|Enabled:{{userByLogin.enabled}}
                                        </h5>
                                        </b>
                                    </p>
                                </div>
                            </li>
                        </div>

                        <div ng-if="activeButton=='Orders'" >
                            <li  ng-repeat="order in orderInProcess " class="licat fontSettings">
                                <div>
                                    <p>
                                        <b>
                                        <h4 ng-if="!userInOrder" ng-click="GetUserByOrderId(order.id)">
                                            Order id:{{order.id}}.......<h5>{{order.orderDate.dayOfMonth}} {{order.orderDate.month}}
                                            {{order.orderDate.year}} at {{order.orderDate.hour}}:{{order.orderDate.minute}}:{{order.orderDate.second}}</h5>
                                        </h4>
                                        </b>
                                    </p>
                                </div>
                            </li>
                            <p>
                            <h4 ng-if="userInOrder" class="fontSettings"><b> |Login:{{userInOrder.login}}<br> |Email:{{userInOrder.email}}<br>
                                |Phone: {{userInOrder.phone}}<br>|FirstName:{{userInOrder.firstName}}<br>|LastName:{{userInOrder.lastName}}<br>
                                |Address:{{userInOrder.address}} <br>|IndexAdress: {{userInOrder.indexAdress}}<br>
                                |Enabled:{{userInOrder.enabled}}</b><br><br>
                            Products:<hr>
                                    <b ng-repeat="product in productInOrder" ng-init="totolCount(product.price)">
                                        Name: {{product.name}} || Price: ${{product.price}}<br></b>
                            <br>
                            <br><hr>
                            <b>Total price: {{total}}</b>
                            <span ng-click="orderDone()" class="chat-img pull-right margRight">
                                    <i class="fa fa-check-circle fa-3x signGreen"  aria-hidden="true"></i>
                                </span>
                            </h4>
                            </p>
                        </div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>