<div class="container Cart" >
    <h2 class="page-header fontSettings"><b>Shopping cart!
        <a ng-click="reloadPage()" class="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></a>
        </b>
    </h2>
        <div class="col-lg-12 col-md-12 col-sm-12 panelPaddingGroups">
            <div class="panel panel-warning" >
                <div class="panel-heading" >
                     <b class="fontSettings"> <h2>Cart menu:</h2></b>
                </div>
                <div ng-if="!confirm" class="panel-collapse collapse in groups">
                    <div class="panel-body">
                        <table class="table table-hover fontSettings">
                            <thead>
                            <tr >
                                <th>Goods name</th>
                                <th>Price</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="good in cartArray" ng-init="totolPageCount(good.price)" class="trBackground">
                                <td>{{good.name}}</td>
                                <td>${{good.price}}</td>
                                <td><i ng-click="remove(good)" class="fa fa-trash-o fa-2x" aria-hidden="true"></i></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel-heading" >
                            <h4 class="fontSettings ">Total :<b > ${{total}}</b>
                                <button ng-click="orderInfo()" type="button"  class="btn btn-primary btn-sm col-sm-offset-1 col-sm-3 "
                                        style="background: #3c3c3c; border-color: #3c3c3c; color: lightgray;float: right">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Make an order</button></h4>
                        </div>
                    </div>
                </div>
                <div ng-if="confirm" class="panel-collapse collapse in groups">
                    <div class="panel-body">
                        <h2>Order info:</h2>
                        <h4>Your login: <b>{{currentUser.login}}</b></h4>
                        <h4>First name: <b>{{currentUser.firstName}}</b></h4>
                        <h4>Last name: <b>{{currentUser.lastName}}</b></h4>
                        <h4>Phone number: <b>{{currentUser.phone}}</b></h4>
                        <h4>Email: <b>{{currentUser.email}}</b></h4>
                        <h4>Address: <b>{{currentUser.address}}</b></h4>
                        <h4>Index: <b>{{currentUser.indexAdress}}</b></h4>
                        <h4>List of goods : </h4>
                        <h4 ng-repeat="good in cartArray">___Name:_<b>{{good.name}}</b>___Price:_$<b>{{good.price}} </b></h4>
                        <h3 ng-if="order"><b style="color: red">Wait! Our operator will contact you!</b></h3>
                    </div>
                    <div class="panel-heading" >
                        <h4 class="fontSettings ">Total :<b > ${{total}}</b>
                            <button ng-if="!order" ng-click="createOrder()" type="button"
                                    class="btn btn-primary btn-sm col-sm-offset-1 col-sm-3 "
                                    style="background: #3c3c3c; border-color: #3c3c3c; color: lightgray;float: right">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Confirm</button></h4>
                    </div>
                </div>
            </div>
        </div>
</div>