<!-- Page Content -->
<div class="container Categories">
    <h2 class="page-header fontSettings" style="color: #080808">
        <b>Categories
            <a ng-click="reloadPage()" class="refreshSign">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
            <a ng-if="currentUser&&currentUser.role=='ROLE_ADMIN'" href="#createNewCategory">
                <h4 class="plusSign">
                    <i class="fa fa-plus-square-o " aria-hidden="true"></i>
                    Create_New_Category
                </h4>
            </a>
        </b>
    </h2>
    <div class="col-sm-4 text-center" ng-repeat="category in categories" >
        <a  href="#/goods/{{category.id}}/0/8">
            <div class="col-sm-12 thumbnail text-center boxsize" style="background-color: rgba(209,82,17,0.38)" >
                <img class="img-responsive img-rounded imgSize" ng-src="image/category/{{category.imgName}}">
                <div class="caption">
                    <h4 ><b class="fontStyle">{{category.name}}
                    </b><a href="#/updateCategory/{{category.id}}"
                           style="float: right;color: black" ng-if="currentUser&&currentUser.role=='ROLE_ADMIN'">
                        <i  class="fa fa-wrench" aria-hidden="true"></i>
                    </a>
                    </h4>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pager">
                <li><a ng-click="decrementPage()" href="#categories/{{pageNumber}}/6">Previous</a></li>
                <li><a ng-click="incrementPage()" href="#categories/{{pageNumber}}/6">Next</a></li>
            </ul>
        </div>
    </div>
</div>