<div class="container Contacts">
    <h1 class="fontSettings"><b>Operator phone:</b> 0500267637</h1>
    <h1 class="fontSettings"><b>Email:</b> igor.igruk@gmail.com</h1>
    <h1 class="fontSettings"><b>VK group:</b> IgoruchShop</h1>
</div>