<!-- Page Content -->
<div class="container createNewCategory">
    <h2 class="page-header fontSettings" style="color: #080808"><b>
        <a href="#categories/0/6">
            <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        Create new category</b>
        <a ng-click="reloadPage()" class="refreshSign">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
    </h2>
    <div class="col-sm-6" >
        <label >
            <b class="fontSettings">Category name</b>
        </label>
        <input ng-model="categoryName" type="text" class="form-control"  placeholder="Category name">
        {{addCategoryResult}}
    <div ng-if="!newCategory">
         <button ng-click="createNewCategory()" type="submit"
                 class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin "
                 style="background: #3c3c3c;border-color: #3c3c3c; color: lightgray">
            <i class="fa fa-database" aria-hidden="true"></i>
            Create
         </button>
    </div>
    </div>
    <div ng-if="newCategory" class="col-sm-6" >
        <h1 class="fontSettings">Add picture to this category!</h1>
        <input type="file" name="file" onchange="angular.element(this).scope().updateCategoryCreateFile(this.files)"/>
        <button ng-click="uploadCategoryFile()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray; font-size: 15px;margin-bottom: 5px">
            <i class="fa fa-database" aria-hidden="true"></i>
            Add picture </button>
            <div ng-if="newCategory.imgName!=null" class="col-sm-12">
                <img class="img-responsive img-rounded imgSize" ng-src="image/category/{{newCategory.imgName}}">
            </div>
    </div>


</div>