<!-- Page Content -->
<div class="container createNewGoods">
    <h2 class="page-header fontSettings" style="color: #080808"><b>
        <a href="#/goods/{{categoryId}}/0/8">
            <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        Create new goods</b>
        <a ng-click="reloadPage()" style="float: right;color: black">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
    </h2>
    <div class="col-sm-6" >
        <label >
            <b class="fontSettings">Goods name</b>
        </label>
        <input ng-model="goodsName" name="goodsName" type="text" class="form-control"  placeholder="Goods name">
            <label ><b class="fontSettings">Goods description</b></label>
            <input ng-model="goodsDescription" type="text" class="form-control"  placeholder="Goods description">
        <label >
            <b class="fontSettings">Goods price</b>
        </label>
        <input ng-model="goodsPrice" type="text" class="form-control"  placeholder="Goods price">
        {{addProductResult}}
        <div ng-if="!newProduct">
         <button  ng-click="createNewGoods()" type="submit"
                  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray">
            <i class="fa fa-database" aria-hidden="true"></i>
            Create
         </button>
        </div>
    </div>
    <div ng-if="newProduct!=null" class="col-sm-6" >
        <h1 class="fontSettings">Add picture to this goods!</h1>
        <input type="file" name="file" onchange="angular.element(this).scope().updateFileCreateProduct(this.files)"/>
        <button ng-click="uploadFile()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray; font-size: 15px;margin-bottom: 5px">
            <i class="fa fa-database" aria-hidden="true"></i>
            Add picture </button>
    <div ng-if="newProduct.imgName!=null" class="col-sm-12">
        <img class="img-responsive img-rounded imgSize" ng-src="image/products/{{newProduct.imgName}}">
    </div>
    </div>
</div>