<!-- Page Content -->
<div class="container GoodsInfo">
    <h2 class="page-header fontSettings" style="color: #080808">
        <b>
            <a  href="#/goods/{{category}}/{{pageNum}}/8">
                <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </a>
            Goods Info
            <a href="#/updateGoods/{{currentProduct.id}}/{{category}}/{{pageNum}}" style="float: right;color: black" ng-if="currentUser!=null&&currentUser.role=='ROLE_ADMIN'">
                <i  class="fa fa-wrench" aria-hidden="true"></i>
            </a>
        </b>
    </h2>

    <div class="col-sm-5 text-center" >
            <div class="col-sm-12 thumbnail text-center boxsize" style="background-color: rgba(209,82,17,0.38)" >
                <img class="img-responsive img-rounded imgSize" ng-src="image/products/{{currentProduct.imgName}}">
                <div class="caption">
                    <h4 class="fontStyle"><b>{{currentProduct.name}}</b></h4>
                </div>
            </div>
    </div>
    <div class="col-sm-7 text-center" >
        <h4 class="position fontSettings"><b>Product name :</b> {{currentProduct.name}}</h4>
        <h4 class="position fontSettings"><b>Description :</b> {{currentProduct.description}}</h4>
        <h1 class="position fontSettings"><b>Price :</b> <b style="color: #080808">${{currentProduct.price}}</b></h1>
        <div ng-if="currentUser">
            <button  ng-click="setCartArray(currentProduct)" type="button"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin "
                     style="background: #3c3c3c; border-color: #3c3c3c; color: lightgray">
            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
        </div>
        <div ng-if="!currentUser">
            <a href="#/login"><button type="button"
                                             class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin "
                     style="background: #3c3c3c; border-color: #3c3c3c; color: lightgray">
                 Log in!
            </button>
            </a>
        </div>
    </div>
</div>