<!-- Page Content -->
<div class="container Goods" >
    <h2 class="page-header fontSettings" style="color: #080808"><b>
        <a href="#/categories/0/6">
            <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        Goods
        <a ng-if="currentUser!=null&&currentUser.role=='ROLE_ADMIN'" href="#createNewGoods/{{categoryId}}">
            <h4 style="float: right;color: #000000"><i class="fa fa-plus-square-o " aria-hidden="true"></i> Create_New_Goods</h4>
        </a>
    </b>
    </h2>
    <div ng-if="goods" class="col-sm-3 text-center" ng-repeat="good in goods" >
        <a ng-href="#/goodsInfo/{{good.id}}/{{categoryId}}/{{pageNumber}}">
            <div class="col-sm-12 thumbnail text-center boxsize" style="background-color: rgba(209,82,17,0.38)" >
                <img class="img-responsive img-rounded imgSize" ng-src="image/products/{{good.imgName}}">
                <div class="caption">
                    <h4 class="fontStyle"><b>{{good.name}}</b></h4>
                </div>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pager">
                <li><a ng-click="decrementPage()" href="#goods/{{categoryId}}/{{pageNumber}}/8">Previous</a></li>
                <li><a ng-click="incrementPage()" href="#goods/{{categoryId}}/{{pageNumber}}/8">Next</a></li>
            </ul>
        </div>
    </div>
</div>