<div class="container Home">
    <div class="col-sm-4 " >
        <img style="margin-left: 20%" class="img-responsive img-rounded imgSize"
             ng-src="image/4883152_orig.png">
        <div class="col-sm-8 " style="margin-left: 20%" >
            <img class="img-responsive img-rounded imgSize" ng-src="image/2000px-Shop.svg.png">
        </div>
    </div>
    <div class="col-sm-8 " >
        <h1 class="fontSettings">Latest goods!</h1>
        <div class="col-sm-4 text-center" ng-repeat="good in lastAddedGoods" >
            <a ng-href="#/goodsInfo/{{good.id}}/1/0">
                <div class="col-sm-12 thumbnail text-center boxsize" style="background-color: rgba(209,82,17,0.38)" >
                    <img class="img-responsive img-rounded imgSize" ng-src="image/products/{{good.imgName}}">
                    <div class="caption">
                        <h4 class="fontStyle"><b>{{good.name}}</b></h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>