
<div class="container Login">
        <div class="col-sm-offset-4 col-sm-4 " >
                <form method="POST" action="http://localhost:8080/login" class="form-signin">
                        <div class="iconUser">
                                <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <h2 class="form-heading">Log in</h2>
                        <div class="form-group">
                                <input name="username" type="text" class="form-control" placeholder="Username" autofocus="true"/>
                                <input name="password" type="password" class="form-control" placeholder="Password"/>
                                <button class="btn btn-lg btn-primary btn-block" type="submit"  >Log In</button>
                        </div>
                </form>
        </div>
</div>

