
<div class="container Registration">
    <div class="form-group login registrTopMargin">
        <div class="iconUser">
            <i class="fa fa-address-book-o fa-5x" aria-hidden="true"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
<div class=" col-lg-6 col-md-6 col-sm-6">
    <form role="form">
        <label >Login</label>
        <input ng-model="login" type="text" class="form-control" id="login" placeholder="Login">
        <div class="form-group login">
            <label >Password</label>
            <input ng-model="password" type="password"  class="form-control" id="password"
                   placeholder="Password.Not less than eight characters!">
        </div>
        <div class="form-group login">
            <label >Email</label>
            <input ng-model="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group login">
            <label >Phone number</label>
            <input ng-model="phone" type="text" class="form-control" id="phone" placeholder="Phone number">
        </div>
        <br>
        <br>
    </form>
</div>
            <div class=" col-lg-6 col-md-6 col-sm-6 ">
                <form role="form">
                    <label >First name</label>
                    <input ng-model="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
                    <label >Last name</label>
                    <input ng-model="lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
                    <label >Address</label>
                    <input ng-model="address" type="text" class="form-control" id="address" placeholder="Address">
                    <label >Index</label>
                    <input ng-model="indexAdress" type="text" class="form-control" id="indexAdress" placeholder="Index">
                    <div class="col-sm-offset-3 col-sm-10 col-md-7 buttonMargin">
                        <button type="submit" class="btn btn-block btn-success hidden-md" ng-click="registration()">
                            Create account</button>
                    </div>
                    <br>
                    <br>
                    <h3 class="fontSettings">{{RegistrationData}}</h3>
                </form>
            </div>
        </div>
    </div>
</div>