<!-- Page Content -->
<div class="container UpdateCategory">
    <h2 class="page-header fontSettings" style="color: #080808"><b>
        <a href="#/categories/0/6">
            <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        Update category</b>\
        <a href="#/categories/0/6" ng-click="deleteCategory()" style="float: right;color: black;padding-left: 20px">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <a ng-click="reloadPage()" style="float: right;color: black">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
    </h2>
    <div class="col-sm-6" >
        <label ><b class="fontSettings">Category name: {{updateCat.name}}</b></label>
        <input ng-model="categoryName" type="text" class="form-control"  placeholder="New name">
        <div >
            <h4>{{updateResult}}</h4>
                <button ng-click="updateCategory()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray">
                <i class="fa fa-database" aria-hidden="true"></i>
                Update</button>
        </div>
    </div>
    <div class="col-sm-6" >
        <h1 class="fontSettings">Update picture to this category!</h1>
        <input type="file" name="file" onchange="angular.element(this).scope().updateFile(this.files)"/>
        <button ng-click="uploadUpdateCategoryFile()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray; font-size: 15px;margin-bottom: 5px">
            <i class="fa fa-database" aria-hidden="true"></i>
            Update picture </button>
        <div  class="col-sm-12">
            <img ng-if="updateCat.imgName" class="img-responsive img-rounded imgSize" ng-src="image/category/{{updateCat.imgName}}">
        </div>
    </div>
</div>