<!-- Page Content -->
<div class="container UpdateGoods">
    <h2 class="page-header fontSettings" style="color: #080808"><b>
        <a href="#/goodsInfo/{{currentProduct.id}}/{{category}}/{{pageNum}}">
            <i style="color: black" class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        Update goods</b>\
        <a href="#/goods/{{category}}/{{pageNum}}/8" ng-click="deleteProduct()" style="float: right;color: black;padding-left: 20px">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <a ng-click="reloadPage()" style="float: right;color: black"><i class="fa fa-refresh" aria-hidden="true"></i></a>
        </h2>
    <div class="col-sm-6" >
        <label ><b class="fontSettings">Name: {{currentProduct.name}}</b></label>
        <input ng-model="goodsName" type="text" class="form-control"  placeholder="New name">
        <label ><b class="fontSettings">Description: {{currentProduct.description}}</b></label>
        <input ng-model="goodsDescription" type="text" class="form-control"  placeholder="New description">
        <label ><b class="fontSettings">Price: {{currentProduct.price}}</b></label>
        <input ng-model="goodsPrice" type="text" class="form-control"  placeholder="New price">
        <h4>{{result}}</h4>
         <button ng-click="updateGoods()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray">
            <i class="fa fa-database" aria-hidden="true"></i>
            Update </button>
    </div>
    <div  class="col-sm-6" >
        <h1 class="fontSettings">Update picture to this goods!</h1>
        <input type="file" name="file" onchange="angular.element(this).scope().updateFileProduct(this.files)"/>
        <button ng-click="uploadUpdateFile()" type="submit"  class="btn btn-primary btn-lg col-sm-offset-1 col-sm-3 buttonMargin " style="background: #3c3c3c;
                                        border-color: #3c3c3c; color: lightgray; font-size: 15px;margin-bottom: 5px">
            <i class="fa fa-database" aria-hidden="true"></i>
            Update picture </button>
        <div  class="col-sm-12">
            <img ng-if="currentProduct.imgName" class="img-responsive img-rounded imgSize" ng-src="image/products/{{currentProduct.imgName}}">
        </div>
    </div>
</div>